html(lang="en")
    meta(charset="UTF-8")
    title TLE Online Judge
body
    h1(style="color: red; text-align: center; font-size: 24px;") TLE Online Judge
    h2 Welcome #{username}
    != content
    // script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js")
    // script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js")
